<ng-container *ngIf="!(loadingService.loading$ | async); then tags; else loading"></ng-container>

<ng-template #tags>
  <app-section-wrapper [ButtonName]="'Add new Tag'" [addFunc]="addTag">
    <ng-container *ngIf="items.length; else emptyListTemplate">
      <div *ngFor="let tag of items" class="card-container">
        <app-tags-card [tag]="tag" [deleteParentFunc]="deleteTag" [editParentFunc]="tagDetails"></app-tags-card>
      </div>
    </ng-container>
  </app-section-wrapper>
</ng-template>

<ng-template #emptyListTemplate>
  <div class="card-container empty-list">Пока здесь пусто</div>
</ng-template>

<ng-template #loading>
  <app-loading [visible]="true"></app-loading>
</ng-template>
