<ng-container *ngIf="tag; then editTag; else loading"></ng-container>

<ng-template #editTag>
  <dx-popup id="noteEditPopup" [visible]="isPopupVisible" (onHidden)="closePopup()" [showTitle]="true" [width]="500"
            [height]="600">
    <div class="note-edit-form">
      <dx-text-box [(value)]="tag.tagTitle" placeholder="Title"></dx-text-box>
      <dx-button text="Save" (onClick)="save()"></dx-button>
    </div>
  </dx-popup>
</ng-template>

<ng-template #loading>
  <app-loading [visible]="!isPopupVisible"></app-loading>
</ng-template>
