<ng-container *ngIf="isPopupVisible; then editRemind; else loading"></ng-container>

<ng-template #editRemind>
  <dx-popup id="remindEditPopup" [visible]="isPopupVisible" [showTitle]="true" [width]="500" [height]="600">
    <div class="remind-edit-form">
      <dx-text-box [(value)]="remind.title" placeholder="Title"></dx-text-box>
      <dx-tag-box [(value)]="remind.tags" [dataSource]="tags" displayExpr="tagTitle" placeholder="Tags"></dx-tag-box>

      <dx-date-box [(value)]="remind.deadline" placeholder="Deadline" type="datetime"
                   displayFormat="{{DatesFormat.basic}}"></dx-date-box>
      <dx-date-box [(value)]="remind.remindMe" placeholder="Remind me for" type="datetime"
                   displayFormat="{{DatesFormat.basic}}"></dx-date-box>
      <dx-button text="Save" (onClick)="save()"></dx-button>
    </div>
  </dx-popup>
</ng-template>

<ng-template #loading>
  <app-loading [visible]="true"></app-loading>
</ng-template>
